.requirements
  &__text
    margin-bottom: 20px
    text-align: center
    font(1.375em, 1.2, 200, uppercase)

  &__desc
    text-align: center
    margin-bottom: 20px
    font(1.375em, 1.2, 200, uppercase)

  &__mark
    font-weight: 500
    color: $red-ribbon

  &__list
    display: flex
    flex-direction: column
    align-items: center
    list-style-type: none
    
    @media $tablet-desktop
      flex-direction: row
      flex-wrap: wrap
      justify-content: center
      align-items: flex-start
      
    @media $desktop
      flex-wrap: nowrap
    
  &__item
    max-width: 400px
    display: flex
    flex-direction: column
    align-items: center

  &__image
    display: inline-block
    margin-bottom: 10px
    padding-left: 20px
    max-width: 300px
    height: 176px
    font-size: 0
    background-image: linear-gradient(to bottom, $magic-mint, $java)
    
    img
      max-width: 100%