$white = #ffffff
$black = #000000

$mine-shaft = #3b3a3a

// .benefits
$shiraz = #cc0546
$red-ribbon = #ee0246

// .requirements__items, .results
$java = #1cd8d2
$magic-mint = #93edc7

// .recommends
$blue-dianne = #253e52

// .form
$humming-bird = #d6fafa